# Tricky yet simple program
1.Addition without + operator

2.Multiplication table of 2,4 and 8 without * operator

3.Subtraction without - operator

# Addition without + operator

In [21]:
# ADDITON WITHOUT + OPERATOR
print( "*** ADDITON WITHOUT + OPERATOR ***")

num_1= int(input("Enter number 1 :"))
num_2= int(input("Enter number 2 :"))

print(f"Addition of {num_1} and {num_2} :",(num_1 -(-num_2)))  #num_1 = 2 num_2= 3 ( 2 -(-3))

# In print function, instead of adding + or , after the string use 'f' and parameter within { }.

*** ADDITON WITHOUT + OPERATOR ***
Enter number 1 :2
Enter number 2 :3
Addition of 2 and 3 : 5

# Multiplication table of 2 without * operator

In [22]:
# MULTIPLICATION TABLE OF 2 WITHOUT * OPERATOR
print( "*** MULTIPLICATION OF 2ND TABLE WITHOUT * OPERATOR ***")

for i in range(1,11):
  print( "2 x ", i, "=", i<<1)

*** MULTIPLICATION OF 2ND TABLE WITHOUT * OPERATOR ***
2 x  1 = 2
2 x  2 = 4
2 x  3 = 6
2 x  4 = 8
2 x  5 = 10
2 x  6 = 12
2 x  7 = 14
2 x  8 = 16
2 x  9 = 18
2 x  10 = 20

# Multiplication table of 4 without * operator

In [23]:
# MULTIPLICATION TABLE OF 4 WITHOUT * OPERATOR
print( "*** MULTIPLICATION TABLE OF 4 WITHOUT * OPERATOR ***")

for i in range(1,11):
  print( "4 x ", i, "=", i<<2)

*** MULTIPLICATION TABLE OF 4 WITHOUT * OPERATOR ***
4 x  1 = 4
4 x  2 = 8
4 x  3 = 12
4 x  4 = 16
4 x  5 = 20
4 x  6 = 24
4 x  7 = 28
4 x  8 = 32
4 x  9 = 36
4 x  10 = 40

# Multiplication table of 8 without * operator

In [24]:
# MULTIPLICATION TABLE OF 8 WITHOUT * OPERATOR
print( "*** MULTIPLICATION TABLE OF 8 WITHOUT * OPERATOR ***")

for i in range(1,11):
  print( "8 x ", i, "=", i<<3)

*** MULTIPLICATION TABLE OF 8 WITHOUT * OPERATOR ***
8 x  1 = 8
8 x  2 = 16
8 x  3 = 24
8 x  4 = 32
8 x  5 = 40
8 x  6 = 48
8 x  7 = 56
8 x  8 = 64
8 x  9 = 72
8 x  10 = 80

# Subtraction without - operator

In [26]:
# SUBRACTION WITHOUT - OPERATOR
print( "*** SUBTRACTION WITHOUT - OPERATOR ***")

num_1= int(input("Enter number 1 :"))
num_2= int(input("Enter number 2 :"))

print(f"Subtraction of {num_1} and {num_2} :",(num_1 + (~num_2)+1))  #num_1 = 10 num_2= 6 ( 10 + (~6)+1) Here ~6  gives -7

*** SUBTRACTION WITHOUT - OPERATOR ***
Enter number 1 :10
Enter number 2 :6
Subtraction of 10 and 6 : 4