# Swap numbers in 4 different ways
1.method 1, 2, 4 = **without third variable**

2.method 3 = **with third variable**

In [16]:
#METHOD 1

a=5
b=10
print("Before swap: \na =",a,"\nb =",b)

a,b=b,a
print("After swap: \na =",a,"\nb =",b)

Before swap:
a = 5
b = 10
After swap:
a = 10
b = 5

In [17]:
#METHOD 2
a= 100
b= 200
print("Before swap: \na =",a,"\nb =",b)

a= a+b    #300 (100+200)
b= a-b    #100 (300-200)
a= a-b    #200 (300-100)
print("After swap: \na =",a,"\nb =",b)

Before swap:
a = 100
b = 200
After swap:
a = 200
b = 100

In [18]:
#METHOD 3

a=20
b=40
print("Before swap: \na =",a,"\nb =",b)

t=a  #t=20
a=b  #a=40
b=t  #b=20
print("After swap: \na =",a,"\nb =",b)

Before swap:
a = 20
b = 40
After swap:
a = 40
b = 20

In [19]:
#METHOD 5
a= 88
b= 99
print("Before swap: \na =",a,"\nb =",b)

a=a^b #59
b=b^a #88
a=a^b #99
print("After swap: \na =",a,"\nb =",b)

Before swap:
a = 88
b = 99
After swap:
a = 99
b = 88